/*
*/
#obf-badges .has-thumb img {
    width: 100px; height: 100px;
}
ul#obf-badges li {
    float: left;
    margin: 0.6em;
    width: 280px;
}
ul#obf-badges li .media {
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #D2D2D2;
    font: 400 12px "Source Sans Pro",sans-serif;
    color: #929292;
    box-shadow: 0px 4px 0px #DCDCDC;
    text-overflow: ellipsis;
}
ul#obf-badges li .media-body {
    margin-top: 10px;
}
ul#obf-badges li .media-footer {
    height: 3em;
}
ul#obf-badges li .pull-left {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding-right: 10px;
}
ul#obf-badges li .badge-desc {
    height: 6em;
    overflow-y: hidden;
    margin-right: 10px;
}
#obf-badges .has-thumb .center {
    clear: both;
    width: 100%;
    text-align: center;
}
#obf-badges .obf-badge-title {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 10px;
    font-size: 12px;
    line-height: 10px;
    margin: 2px 10px;
}
.column-issue_badge {
    width: 10%;
}
.column-obf_image {
    width: 50px;
    max-width: 10%;
}
.column-obf_image img {
    max-width: 48px;
    max-height: 48px;
}
.obf-help-image { max-width: 600px; }
.obf-help-image.thumbnail { max-width: 280px; }
.open-badge-factory_page_badgeos_sub_help_support .card {
    max-width: inherit;
}
@media (max-width: 782px) {
    .wp-list-table tr:not(.inline-edit-row):not(.no-items) td.column-obf_image:not(.check-column) {
        display: none;
    }
    .wp-list-table .is-expanded td:not(.hidden).column-obf_image {
        display: none !important;
    }
    .column-obf_image {
        display: none;
    }
    .obf-help-image:not(.thumbnail) {
        max-width: 480px;
    }
}
/* Hide confusing add new-buttons */
.post-type-submission .wrap > h1 > a.page-title-action[href*="post-new"] {
    display: none;
}
#badgeos_obf_image_meta_box .wp-post-image {
    max-width: 150px; max-height: 150px;
}